*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.pic-back{
    height: 650px;
    width: 100%;
    display: flex;
  
}
.back-img{
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.panel{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 45px 0px 45px;
}

.logo{
    height: 27px;
    width: 210px;
    background-image: url(Spacex-logo.png);
    background-size: cover;
    filter: brightness(0) invert(1);
    margin-bottom: 10px;
}

.information{
    display: flex;
}

.information > ul{
    color: white;
    width: 500px;
    font-size: 0.85rem;
    font-weight: 700;
}

.info{
    width: 800px;
    color: white;
    font-size: 0.85rem;
    font-weight: 780;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
}

.info > a{
    gap: 10px;
}

.shop{
    width: 90px;
    color: white;
    font-size: 0.85rem;
    font-weight: 780;
}

.inner-left{
    color: white;
    margin: 280px 0px 0px 50px;
}

.inner-left > p{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.inner-left > a{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 5px;
    position: 2;
}

.img-box{
    border: 2px solid white;
    font-weight: bold;
    font-size: 0.85rem;
    height: 50px;
    width: 130px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    transition: 0.5s;
    
}

.footer{
    height: 60px;
    padding: 20px 0px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.60rem;
    font-weight: 800;
    margin-top: 70px;
}

.hov:hover{
    background-color: white;
    color: black;
}

.hov1:hover{
    border-bottom: 0.5px solid white;
}
